{% extends 'user/dashboardlayout.html' %}

                    {% block img%}
                   {% if records[0].cust_profile_pic != None: %}
                    {% set t = "customerprofilepictures"+'/'+records[0].cust_profile_pic %}
                    {% else %}
                    {% set t = "images/avatar.jpg" %}
                    {% endif %}
                       <li><img class="rounded-circle" src=" {{ url_for('static',filename=t)}}" width="230" height="230"  alt=""></li>
                    {% endblock img %}
<!-- varying section starts -->
{% block varyingcontent %}

<div class="user-content">
    <div class="profile-head">
         <div class="profile-h2"><h2>Edit your profile</h2></div>
         <div class="profile-a"></div>
    </div>
    <hr class="profile-hr">
    <br>
    <div class="edit-profile-body">
        <form action="" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
           
            
            <div class="row edit-profile">
                 <div class="col">
                         <div class="form-group row">
                             <div class="col-sm-3">
                                 <label>Firstname</label>
                             </div>
                             <div class="col-sm-9">
                                 <input type="text" name="firstname" class="form-control" value="{{ c.cust_fname }}">
                             </div>
                         </div>
                         <div class="form-group row">
                             <div class="col-sm-3">
                                 <label>Lastname</label>
                             </div>
                             <div class="col-sm-9">
                                 <input type="text" name="lastname" class="form-control" value="{{ c.cust_lname }}">
                             </div>
                         </div>
                         <div class="form-group row">
                             <div class="col-sm-3">
                                 <label>Email</label>
                             </div>
                             <div class="col-sm-9">
                                 <input type="email" name="email" class="form-control" value="{{ c.cust_email }}">
                             </div>
                         </div>
                         <div class="form-group row">
                             <div class="col-sm-3">
                                 <label>Phone</label>
                             </div>
                             <div class="col-sm-9">
                                 <input type="text" name="phone" class="form-control" value="{{ c.cust_phone }}">
                             </div>
                         </div>
                         <div class="form-group row">
                             <div class="col-sm-3">
                                 <label>Address</label>
                             </div>
                             <div class="col-sm-9">
                                 <textarea name="address" class="form-control">{{ c.cust_address }}</textarea>
                             </div>
                         </div>
                         <div class="form-group">
                             <a href="/user/account" class="btn btn-outline-primary">Cancel</a>
                             <button class="btn btn-primary">Save</button>
                         </div>
                 </div>
             </div>
        </form>
        
        

    </div>
    
</div>
{% endblock %}
<!-- varying section ends -->