<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}" type="text/css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>signup</title>
</head>
<body class="signup">

    <div class="layout">
        <div class="form-section">
            <div class="form-container">
                <div class="white-container">
                    <h1>Mendee</h1>
                    <p>Sign Up To Mendee (user)</p>
                    <form action="" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        {% set m = get_flashed_messages() %}
                        {% if m: %}                        
                        {% for i in m: %}  
                        <p class="alert alert-danger">{{ i }}</p> 
                        {% endfor %}   
                        {% endif %}
                        <div><label for="">Please enter your First name <span>*</span></label><input id="fname" type="text" name="firstname" placeholder="Firstname" class="form-control"></div>
                        <div class="mt-3"><label for="">Please enter your Last name <span>*</span></label><input id="lname" type="text" name="lastname" placeholder="Lastname" class="form-control"></div>
                        <div class="mt-3"><label for="">Please enter your Email Address <span>*</span></label><input id="email" type="email" name="email" placeholder="Email" class="form-control"></div>
                        <div class="mt-3"><label for="">Please enter your Phone Number <span>*</span></label><input id="phone" type="text" name="phone" placeholder="Phone Number" class="form-control"></div>
                        <div class="mt-3"><label for="">Please enter a password <span>*</span></label><input id="pwd" type="password" name="password" placeholder="***********" class="form-control"></div>
                        <div class="mt-3"><label for="">Please enter your Address <span>*</span></label><input id="addr" type="text" name="address" placeholder="Address" class="form-control"></div>
                        <div class="mt-3"><button id="signupbtn" class="btn btn-block btn-primary">Sign Up</button></div>
                    </form>
                    <p class="mt-3 para2">By registering you agree to Mendee's <a href="">Terms of Use</a>  and <a href="">Privacy Policy</a> .</p>
                    <hr class="form-hr">
                    <p class="para3">Already have an account? <a href=""> Log in</a></p>
                </div>
            </div>
        </div>
    </div>



<script src="{{url_for('static',filename='js/jquery.min.js')}}" type="text/javascript"></script>

<script type='text/javascript'>
    // $(document).ready(function(){
    //     var fname = $('#fname').val()
    //     var lname = $('#lname').val()
    //     var email = $('#email').val()
    //     var phone = $('#phone').val()
    //     var pass = $('#pwd').val()
    //     var address = $('#addr').val()
    //     $('#signupbtn').click(function(){
    //       if(fname=='' | lname=='' | email=='' |phone=='' | pass=='' | address==''){
    //           alert('required field')
    //       }else{
    //           alert('good')
    //       }
    //     })
    // })
</script>
    
</body>
</html>